/* Effective stylesheet produced by snapshot save */
#Container {
	margin: 0pt;
	width: 100%;
	text-align: center;
}

#BannerContainer {
	width: 100%;
	background-image: url("Banner-Background.png");
	background-repeat: repeat-x;
	height: 133px;
}

#BannerContainer #BannerContent {
	position: relative;
	width: 1000px;
	margin: 0pt auto;
}

#BannerContainer #BannerContent #Logo {
	position: relative;
	top: 20px;
	left: -400px;
}

#BannerContainer #BannerContent #Blurb {
	position: absolute;
	top: 13px;
	left: 650px;
	width: 350px;
	text-align: right;
	color: white;
	font-size: 10px;
}

#BannerContainer #BannerContent #Search {
	position: absolute;
	top: 17px;
	left: 246px;
	width: 350px;
	text-align: left;
	color: black;
	font-size: 10px;
}

#BannerContainer #BannerContent #AcctButton {
	position: absolute;
	top: 20px;
	left: 840px;
	width: 80px;
	text-align: right;
	color: white;
	font-family: "Segoe UI Semibold", "Gill Sans", Myriad, Arial, Sans-Serif
		;
	font-size: 13px;
}

#BannerContent a:link {
	color: rgb(255, 255, 255);
	text-decoration: none;
}

#BannerContent a:visited {
	color: rgb(255, 255, 255);
	text-decoration: none;
}

#BannerContent a:active {
	color: rgb(255, 255, 255);
	text-decoration: underline;
}

#BannerContent a:hover {
	color: rgb(255, 255, 255);
	text-decoration: underline;
}

#BannerContainer #BannerContent #HelpButton {
	position: absolute;
	top: 20px;
	left: 955px;
	width: 40px;
	text-align: right;
	color: white;
	font-family: "Segoe UI Semibold", "Gill Sans", Myriad, Arial, Sans-Serif
		;
	font-size: 13px;
}

#BannerContent .MainNav {
	position: absolute;
	top: 64px;
	left: 247px;
}

#BannerContent .MainNav .Tab {
	float: right;
}

#BannerContent .SubNav ul {
	margin: 0pt;
	padding: 0pt;
	float: left;
	font-size: 12px;
}

#BannerContent .SubNav ul a:link {
	color: rgb(255, 255, 255);
	text-decoration: none;
}

#BannerContent .SubNav ul a:visited {
	color: rgb(255, 255, 255);
	text-decoration: none;
}

#BannerContent .SubNav ul a:active {
	color: rgb(255, 255, 255);
	text-decoration: underline;
}

#BannerContent .SubNav ul a:hover {
	color: rgb(255, 255, 255);
	text-decoration: underline;
}

#BannerContent .SubNav ul .Hover a:link {
	color: rgb(255, 255, 255);
	text-decoration: underline;
}

#BannerContent .SubNav ul .Hover a:visited {
	color: rgb(255, 255, 255);
	text-decoration: underline;
}

#BannerContent .SubNav ul .Hover a:active {
	color: rgb(255, 255, 255);
	text-decoration: underline;
}

#BannerContent .SubNav ul .Hover a:hover {
	color: rgb(255, 255, 255);
	text-decoration: underline;
}

#BannerContent .SubNav ul li .ListContent {
	padding: 4px 0pt 3px;
}

#BannerContent .SubNav .ListProductivity {
	position: absolute;
	top: 105px;
	left: 0px;
	width: 1000px;
	text-align: center;
	background-color: rgb(244, 117, 61);
}

#BannerContent .SubNav .ListProductivity ul .Hover {
	float: left;
	background-color: rgb(208, 248, 208);
	cursor: pointer;
}

#BannerContent .SubNav .ListProductivity ul li {
	height: 28px;
	width: 125px;
	float: left;
	list-style: none outside none;
	background-color: rgb(244, 117, 61);
}

#BannerContent .SubNav .ListProductivity ul .Current {
	background-color: rgb(243, 246, 255);
	text-decoration: none;
	cursor: default;
}

#BannerContent .SubNav .ListGames {
	position: absolute;
	top: 105px;
	left: 0px;
	width: 1000px;
	text-align: center;
	background-color: rgb(130, 178, 47);
}

#BannerContent .SubNav .ListGames ul .Hover {
	float: left;
	background-color: rgb(208, 248, 208);
	cursor: pointer;
}

#BannerContent .SubNav .ListGames ul li {
	height: 28px;
	width: 125px;
	float: left;
	list-style: none outside none;
	background-color: rgb(130, 178, 47);
}

#BannerContent .SubNav .ListGames ul .Current {
	background-color: rgb(243, 246, 255);
	text-decoration: none;
	cursor: default;
}

#BannerContent .SubNav .ListTools {
	position: absolute;
	top: 105px;
	left: 0px;
	width: 1000px;
	text-align: center;
	background-color: rgb(232, 196, 15);
}

#BannerContent .SubNav .ListTools ul a:link {
	color: rgb(0, 0, 0);
	text-decoration: none;
}

#BannerContent .SubNav .ListTools ul a:visited {
	color: rgb(0, 0, 0);
	text-decoration: none;
}

#BannerContent .SubNav .ListTools ul a:active {
	color: rgb(0, 0, 0);
	text-decoration: underline;
}

#BannerContent .SubNav .ListTools ul a:hover {
	color: rgb(0, 0, 0);
	text-decoration: underline;
}

#BannerContent .SubNav .ListTools ul .Hover a:link {
	color: rgb(0, 0, 0);
	text-decoration: underline;
}

#BannerContent .SubNav .ListTools ul .Hover a:visited {
	color: rgb(0, 0, 0);
	text-decoration: underline;
}

#BannerContent .SubNav .ListTools ul .Hover a:active {
	color: rgb(0, 0, 0);
	text-decoration: underline;
}

#BannerContent .SubNav .ListTools ul .Hover a:hover {
	color: rgb(0, 0, 0);
	text-decoration: underline;
}

#BannerContent .SubNav .ListTools ul .Hover {
	float: left;
	background-color: rgb(208, 248, 208);
	cursor: pointer;
}

#BannerContent .SubNav .ListTools ul li {
	height: 28px;
	width: 125px;
	float: left;
	list-style: none outside none;
	background-color: rgb(232, 196, 15);
}

#BannerContent .SubNav .ListTools ul .Current {
	background-color: rgb(243, 246, 255);
	text-decoration: none;
	cursor: default;
}

#BannerContent .SubNav .ListHome {
	position: absolute;
	top: 105px;
	left: 0px;
	width: 1000px;
	text-align: center;
	background-color: rgb(77, 173, 170);
}

#BannerContent .SubNav .ListHome ul .Hover {
	float: left;
	background-color: rgb(208, 248, 208);
	cursor: pointer;
}

#BannerContent .SubNav .ListHome ul li {
	height: 28px;
	width: 125px;
	float: left;
	list-style: none outside none;
	background-color: rgb(77, 173, 170);
}

#BannerContent .SubNav .ListHome ul .Current {
	background-color: rgb(243, 246, 255);
	text-decoration: none;
	cursor: default;
}

#BannerContent .SubNav .ListServer {
	position: absolute;
	top: 105px;
	left: 0px;
	width: 1000px;
	text-align: center;
	background-color: rgb(15, 21, 25);
}

#BannerContent .SubNav .ListServer ul .Hover {
	float: left;
	background-color: rgb(208, 248, 208);
	cursor: pointer;
}

#BannerContent .SubNav .ListServer ul li {
	height: 28px;
	width: 125px;
	float: left;
	list-style: none outside none;
	background-color: rgb(15, 21, 25);
}

#BannerContent .SubNav .ListServer ul .Current {
	background-color: rgb(243, 246, 255);
	text-decoration: none;
	cursor: default;
}

.cityList {
	width: 1000px;
	position: relative;
	visibility: visible;
	background-color: rgb(255, 204, 51);
	border-top: 1px solid gray;
	border-bottom: 1px solid #FFCC33;
	border-left: 1px solid #cccccc;
	margin: auto;
	display: none;
}


#cityList a{
	color:black;
	text-decoration: none;
}
#cityList a:HOVER{
	color:blue;
	text-decoration: underline;
}

#ContentContainerPad {
	width: 1000px;
	text-align: center;
	margin: 0pt auto;
	padding: 0pt;
	background-color: white;
	border-left: 1px solid #CCCCCC;
}

#ContentContainer {
	padding: 15px;
	text-align: left;
}

#ContentContainer table td {
	font-size: 10pt;
	line-height: 1.5em;
	vertical-align: top;
}

#SearchBox #Label {
	display: inline;
	width: 80px;
	color: white;
	font-size: 10px;
}

#SearchBox #Query {
	font-family: "Segoe UI", "Gill Sans", Arial, Helvetica, Sans-Serif;
	font-size: 20px;
}

#LeftColumn {
	width: 240px;
	float: left;
	text-align: left;
}

#LeftColumnContent {
	margin: 0px 0pt 20px;
	padding: 0px 0px 0pt;
}

#LeftColumn h3 {
	margin: 0pt 0pt 4px;
	padding: 2px 0pt 2px 20px;
	font-family: "Segoe UI Semibold", "Gill Sans", Arial, Helvetica,
		sans-serif;
	font-size: 14px;
	font-weight: normal;
	text-transform: uppercase;
	letter-spacing: 1px;
}

#LeftColumn .List {
	margin: 0pt;
	padding: 0pt;
}

#LeftColumn .List ul {
	text-align: left;
	margin: 0pt;
	padding: 0pt;
	font-size: 11px;
}

#LeftColumn .List ul .Hover {
	background-color: rgb(192, 220, 226);
	cursor: pointer;
}

#LeftColumn .List ul .Hover a:link {
	color: Black;
	text-decoration: underline;
}

#LeftColumn .List ul .Hover a:visited {
	color: Black;
	text-decoration: underline;
}

#LeftColumn .List ul .Hover a:active {
	color: Black;
	text-decoration: underline;
}

#LeftColumn .List ul .Hover a:hover {
	color: Black;
	text-decoration: underline;
}

#LeftColumn .List ul li {
	padding: 2px 20px;
	margin-left: 0pt;
	list-style: none outside none;
}

#LeftColumn .List ul a:link {
	color: Black;
	text-decoration: none;
}

#LeftColumn .List ul a:visited {
	color: Black;
	text-decoration: none;
}

#LeftColumn .List ul a:active {
	color: Black;
	text-decoration: underline;
}

#LeftColumn .List ul a:hover {
	color: Black;
	text-decoration: underline;
}

#LeftColumn a.Heading:link {
	color: rgb(0, 110, 159);
	text-decoration: none;
}

#LeftColumn a.Heading:visited {
	color: rgb(0, 110, 159);
	text-decoration: none;
}

#LeftColumn a.Heading:active {
	color: rgb(0, 110, 159);
	text-decoration: underline;
}

#LeftColumn a.Heading:hover {
	color: rgb(0, 110, 159);
	text-decoration: underline;
}

#LeftColumn .List ul .Selected {
	
}

#LeftColumn .List ul .Current {
	background-color: rgb(243, 246, 255);
	text-decoration: none;
	cursor: default;
}

#MainColumn {
	float: right;
	width: 740px;
	text-align: left;
	border-left: 1px solid #CCCCCC;
	margin: 15px 0 0 0;
	padding: 4px 0 4px 10px;
}

#MainColumn #MainColumnContentTopPadding {
	height: 18px;
	line-height: 0pt;
}

#MainColumnContent {
	padding: 5px 15px 20px;
}

#MainColumnContent table td {
	font-size: 10pt;
	line-height: 1.5em;
	vertical-align: top;
}

#MainColumnContent .StandardTextBlock {
	font-family: "Segoe UI", "Gill Sans", Lucida Sans, Arial, Sans-Serif;
	font-size: 14px;
	line-height: 1.6em;
	width: 550px;
}

#MainColumnContent .NarrowTextBlock {
	width: 420px;
	line-height: 1.6em;
}

#AppIconPanelListPad {
	width: 800px;
	height: 3px;
	border-top-color: rgb(128, 128, 128);
	border-top-style: double;
}

.HeadingBlock {
	height: 30px;
	width: 698px;
	background-color: rgb(241, 244, 245);
	text-align: left;
}

.HeadingBlock .Heading {
	float: left;
	margin: 10px 0pt 0px 0px;
	padding: 0pt 0pt 0pt 47px;
	font-family: "Segoe UI", "Gill Sans", Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 15px;
	color: rgb(0, 110, 159);
	text-align: left;
}

.IconHeadingBlock {
	height: 35px;
	width: 728px;
	background-color: rgb(241, 244, 245);
	text-align: left;
}

.IconHeadingBlock .IconHeading {
	float: left;
	margin: 5px 0pt 0px 10px;
	padding: 0pt 0pt 0pt 0px;
	font-family: "Segoe UI", "Gill Sans", Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 15px;
	color: rgb(0, 110, 159);
	text-align: left;
}

.IconHeadingBlock a.Heading:link {
	color: rgb(0, 110, 159);
	text-decoration: none;
}

.IconHeadingBlock a.Heading:visited {
	color: rgb(0, 110, 159);
	text-decoration: none;
}

.IconHeadingBlock a.Heading:active {
	color: rgb(0, 110, 159);
	text-decoration: underline;
}

.IconHeadingBlock a.Heading:hover {
	color: rgb(0, 110, 159);
	text-decoration: underline;
}

.IconPanelGroup {
	margin: 30px 0pt 0pt 15px;
}

.AcctView {
	width: 700px;
	border: 0pt none;
}

.AcctView {
	width: 700px;
	border: 0pt none;
}

.AppView {
	width: 650px;
	border: 0pt none;
}

.PublisherInfo {
	width: 550px;
	border: 0pt none;
}

#Content {
	line-height: 1.5em;
	list-style-type: square;
}

.Separator {
	width: 635px;
	border-top: 1px solid rgb(238, 238, 238);
	margin: 30px 0pt;
}

.ActionBox {
	float: right;
	width: 250px;
	color: white;
	background-color: rgb(54, 88, 118);
	border: medium none;
}

#ContentFooterPad {
	width: 1000px;
	height: 30px;
	margin: 18pt auto;
	background-color: rgb(136, 136, 136);
}

#ContentFooter {
	color: white;
	font-family: Verdana, Arial, Sans-Serif;
	font-size: 10px;
	padding: 4px 0pt 6px;
	margin: 0pt 0pt 0pt 18px;
	text-align: left;
}

#ContentFooter a:link {
	color: white;
	text-decoration: none;
}

#ContentFooter a:visited {
	color: white;
	text-decoration: none;
}

#ContentFooter a:active {
	color: white;
	text-decoration: underline;
}

#ContentFooter a:hover {
	color: white;
	text-decoration: underline;
}

#FooterContentContainer {
	clear: both;
	width: 100%;
	height: 170px;
	margin: 0pt;
	padding: 0pt;
	background-color: rgb(240, 240, 240);
	background-position: center center;
	background-repeat: no-repeat;
}

#FooterContentPad {
	width: 1000px;
	margin: 0pt auto;
	padding: 0pt;
}

#FooterContent {
	padding: 50px 0pt 0pt;
	text-align: center;
}

.LegalText {
	color: rgb(170, 170, 170);
	font-family: Verdana, Arial, Sans-Serif;
	font-size: 10px;
}

.LegalText a:link {
	color: rgb(170, 170, 170);
	text-decoration: none;
}

.LegalText a:visited {
	color: rgb(170, 170, 170);
	text-decoration: none;
}

.LegalText a:active {
	color: rgb(170, 170, 170);
	text-decoration: none;
}

.LegalText a:hover {
	color: rgb(170, 170, 170);
	text-decoration: underline;
}

.BuyOnlineText {
	font-weight: bold;
}

.DemoBox {
	float: left;
	width: 675px;
	margin-bottom: 15px;
}

.DocPreview {
	float: left;
	width: 170px;
	margin: 0px 0pt 0pt;
	text-align: center;
}

.DocPreview .Label {
	font-weight: bold;
	margin-bottom: 10px;
}

.DocPreview img {
	width: 140px;
	height: 181px;
	border: 1px solid rgb(170, 170, 170);
}

.PreviewDescription {
	float: left;
	font-family: "Segoe UI", "Gill Sans", Lucida Sans, Arial, Sans-Serif;
	font-size: 14px;
	line-height: 1.6em;
	width: 450px;
}

.ScreenshotPreview {
	float: left;
	width: 170px;
	margin: 0px 0pt 0pt;
}

.ScreenshotPreview img {
	width: 140px;
	height: 155px;
	border: 1px solid rgb(170, 170, 170);
}

.PreviewDescription {
	float: left;
	font-family: "Segoe UI", "Gill Sans", Lucida Sans, Arial, Sans-Serif;
	font-size: 14px;
	line-height: 1.6em;
	width: 450px;
}