#MenuContainer a:link {
	color: white;
	text-decoration: none;
}

#MenuContainer a:visited {
	color: white;
	text-decoration: none;
}

#MenuContainer a:active {
	color: white;
	text-decoration: none;
}

#MenuContainer a:hover {
	color: white;
	text-decoration: underline;
}

#LeftColumnContent {
	margin: 0pt 0pt 20px;
	padding: 20px 0px 0pt;
}

.SwatchPanelGridPad {
	float: left;
	height: 298px;
	width: 332px;
	margin: 0pt 1px 20px 20px;
}

.HeadingAndMoreBlock {
	width: 332px;
	height: 33px;
}

.HeadingAndMoreBlock #Heading {
	float: left;
	margin: 13px 0pt 0px 22px;
	font-family: "Segoe UI", "Gill Sans", Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 15px;
	color: rgb(77, 173, 170);
}

.HeadingAndMoreBlock #More {
	float: right;
	margin: 10px 22px 0pt 0pt;
	font-size: 10px;
}

#MainColumn a.More:link {
	color: rgb(36, 58, 76);
	text-decoration: none;
}

#MainColumn a.More:visited {
	color: rgb(36, 58, 76);
	text-decoration: none;
}

#MainColumn a.More:active {
	color: rgb(36, 58, 76);
	text-decoration: underline;
}

#MainColumn a.More:hover {
	color: rgb(36, 58, 76);
	text-decoration: underline;
}

#MainColumn a.ProductivityHeading:link {
	color: rgb(244, 117, 61);
	text-decoration: none;
}

#MainColumn a.ProductivityHeading:visited {
	color: rgb(244, 117, 61);
	text-decoration: none;
}

#MainColumn a.ProductivityHeading:active {
	color: rgb(244, 117, 61);
	text-decoration: underline;
}

#MainColumn a.ProductivityHeading:hover {
	color: rgb(244, 117, 61);
	text-decoration: underline;
}

#MainColumn a.GamesHeading:link {
	color: rgb(130, 178, 47);
	text-decoration: none;
}

#MainColumn a.GamesHeading:visited {
	color: rgb(130, 178, 47);
	text-decoration: none;
}

#MainColumn a.GamesHeading:active {
	color: rgb(130, 178, 47);
	text-decoration: underline;
}

#MainColumn a.GamesHeading:hover {
	color: rgb(130, 178, 47);
	text-decoration: underline;
}

#MainColumn a.ToolsHeading:link {
	color: rgb(214, 173, 0);
	text-decoration: none;
}

#MainColumn a.ToolsHeading:visited {
	color: rgb(214, 173, 0);
	text-decoration: none;
}

#MainColumn a.ToolsHeading:active {
	color: rgb(214, 173, 0);
	text-decoration: underline;
}

#MainColumn a.ToolsHeading:hover {
	color: rgb(214, 173, 0);
	text-decoration: underline;
}

.SwatchPanel #Swatch {
	border-color: rgb(255, 255, 255);
}

.SwatchPanelHover #Swatch {
	border-color: rgb(255, 255, 255);
}

#SplashPad {
	text-align: left;
	height: 350px;
}

#SplashLeft {
	float: left;
	width: 240px;
	height: 331px;
}

#SplashLeft img {
	position: relative;
	top: 0pt;
	left: 10px;
	margin: 0px;
	padding: 0px;
}

.SplashMain {
	float: left;
	width: 720px;
	margin: 0pt;
	padding: 20px 0pt 0pt 15px;
}

.FeaturedTop {
	margin: 0pt;
	padding: 0pt;
	background-image: url('/images/Featured-App-Top.png');
	background-repeat: no-repeat;
	background-position: bottom;
	height: 10px;
	width: 728px;
	border-width: 0px;
}

.FeaturedBottom {
	margin: 0pt;
	padding: 0pt;
	background-image: url('/images/Featured-App-Bottom.png');
	background-repeat: no-repeat;
	height: 10px;
	width: 728px;
	border-width: 0px;
}

.FeaturedBackground {
	margin: 0pt;
	padding: 10px 0;
	background-color: #bbbbbb;
	width: 728px;
}

.FeaturedBackground .FeaturedPanel {
	float: left;
	height: 270px;
	width: 340px;
	margin: 7px 0pt 0pt 0px;
	padding: 0pt 0pt 0pt 30px;
}

.FeaturedBackground .FeaturedLabel {
	float: left;
	height: 39px;
	width: 319px;
	margin: 0pt 0pt 0pt 25px;
}

.FeaturedBackground .FeaturedDescription {
	float: left;
	height: 219px;
	width: 319px;
	margin: 0pt 0pt 0pt 25px;
}

.FeaturedBackground .FeaturedDescription .AppLabel {
	float: left;
	height: 30px;
	width: 300px;
	margin: 13px 0pt 0pt 13px;
	font-family: Myriad Pro, "Segoe UI", "Gill Sans", "Trebuchet MS", Arial,
		Helvetica, sans-serif;
	font-weight: 500;
	font-size: 28px;
	color: rgb(255, 255, 255);
	letter-spacing: 1px;
}

.FeaturedBackground .FeaturedDescription .AppText {
	float: left;
	height: 160px;
	width: 292px;
	margin: 8px 0pt 0pt 13px;
	font-family: "Segoe UI", "Gill Sans", "Trebuchet MS", Arial, Helvetica,
		sans-serif;
	font-weight: 500;
	font-size: 12px;
	color: rgb(13, 173, 165);
	line-height: 1.2em;
}

.FeaturedBackground .IndieGames {
	float: left;
	height: 23px;
	width: 160px;
	margin: 0pt 0pt 0pt 38px;
}

.FeaturedBackground .FeaturedDetails {
	float: left;
	height: 23px;
	width: 104px;
	margin: 0pt 0pt 0pt 38px;
}

#LeftColumnContent {
	margin: 0pt 0pt 20px;
	padding: 0px 0px 0pt;
}

.info_pricetag {
	text-align: center;
	cursor: pointer;
	font-size: 25px;
	float: left;
	height: 45px;
	width: 120px;
	padding: 0;
	margin: 2px;
	background: url("/images/price_tag.gif") no-repeat scroll left top
		transparent;
	cursor: pointer;
}

.info_pricetag_hover {
	text-align: center;
	cursor: pointer;
	font-size: 30px;
	float: left;
	height: 45px;
	margin: 2px;
	width: 120px;
	padding: 0;
	background: url("/images/price_tag.gif") no-repeat scroll 0 -45px
		transparent;
	cursor: pointer;
}

/*the style for infos*/
#info_left div {
	border: 1px solid #CCCCCC;
	float: left;
	height: 88px;
	width: 88px;
}

#info_left img {
	border: 4px solid #FFFFFF;
	width: 80px;
	height: 80px;
}

.info_right_top {
	border-bottom: 0px solid #efefef;
	margin-bottom: 0;
	background: url('/images/messageHeader.gif') no-repeat scroll 0 0
		transparent;
	font-size: 12px;
	padding: 5px 0 0 25px;
	width: 575px;
}

#info_right table {
	width: 500px;
	background-color: #efefef;
}

#info_right b {
	font-size: 15px;
	color: gray;
}

#info_right img {
	border: 0;
	padding: 5px 10px;
	margin: 0;
}

.info_right_foot {
	margin-top: 0;
	background: url('/images/messageFooter.gif') no-repeat scroll 0 0
		transparent;
	height: 8px;
	width: 575px;
}

.info_right_img {
	margin: 0px;
	padding: 0px;
	width: 268px;
	height: 131px;
	float: left;
}

.selectedCity {
	font-weight: bold;
	text-decoration: underline;
}

#cityList li {
	float: left;
	height: 28px;
	list-style: none outside none;
	width: 125px;
	font-size: 12px;
	margin: 0;
	padding: 0;
	color: black;
}